<%= form_with model: @note, local: true do |form| %>
  <p>title</p><%= form.text_field :title %> <br>
  <p>Good</p><%= form.text_area :good %> <br>
  <p>Bad</p><%= form.text_area :bad %> <br>
  <p>Next</p><%= form.text_area :next %> <br>
  <%= form.submit %>
<% end %>