<div class="d-flex justify-content-center mt-5">
  <div class="w-100 card shadow-lg" style="border: none;">
    <div class="card-body">
      <%= form_with model: group, local: true, html: {class: "needs-validation", novalidate: ""} do |form| %>
        <div class="mb-3">
          <label for="name" class="form-label">グループ名</label>
          <%= form.text_field :name, class: "form-control shadow-sm", id: "name", required: true %>
          <div class="invalid-feedback">
            グループ名を入力してください
          </div>
        </div>
        <div class="mb-3">
          <label for="introduction" class="form-label">紹介文</label>
          <%= form.text_area :introduction, class: "form-control shadow-sm", id: "introduction", rows: 3, required: true %>
          <div class="invalid-feedback">
            紹介文を入力してください
          </div>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">カテゴリ</label>
          <%= form.select :category, [['U-12'], ['U-15'], ['U-18'], ['その他']], { include_blank: 'カテゴリを選択してください' }, { class: "form-control", required: true } %>
          <div class="invalid-feedback">
            カテゴリを選択してください
          </div>
        </div>
        <%= form.submit "送信", class: "btn btn-primary shadow" %>
      <% end %>
    </div>
  </div>
</div>