<!-- モバイルの場合 -->
<%= link_to '← グループのトップへ', group_path(session[:current_group_id]), class: "me-2", "data-turbo": false, style: "font-size: 1em; display: block; margin-top: 30px; margin-left: 10px;" if request.env['HTTP_USER_AGENT'].include?('Mobile') %>
<div class='container-fluid px-3 px-sm-5 py-4'>
  <!-- 非モバイル端末の場合 -->
  <%= link_to '← グループのトップへ', group_path(session[:current_group_id]), class: "me-2", "data-turbo": false, style: "font-size: 1.2em; display: block; margin-bottom: 30px;" unless request.env['HTTP_USER_AGENT'].include?('Mobile') %>
  <div class='row'>
    <h2 style="margin-bottom: 60px;">ノート一覧</h2>
    <div class='col-12 col-md-8 col-lg-6'>
      <!-- 検索窓 -->
      <%= form_with url: search_notes_path, method: :get, local: true, class: "mb-4", id: "search-form" do %>
        <div class="input-group" style="">
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "ノートを検索", id: "search-input", style: "height: 40px;" %>
          <span class="input-group-text" style="height: 40px;">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          </span>
        </div>
      <% end %>
      <%= turbo_stream_from "index_of_notes" %>

      <div class="list-group" id="notes-list">
        <% @notes.each do |note| %>
          <%= link_to note_path(note), class: "list-group-item list-group-item-action p-3 border-0 mb-3 rounded shadow-sm" , "data-turbo": false do %>
            <div class="d-flex w-100 justify-content-between align-items-center">
              <h5 class="mb-1 text-dark"><%= note.title %></h5>
            </div>
            <div class="text-muted text-end">
              <small><%= note.user.username %> - <%= time_ago_in_words(note.created_at) %>前</small>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", () => {
    const searchInput = document.getElementById("search-input");

    searchInput.addEventListener("input", () => {
      const query = searchInput.value;

      fetch(`/search_notes?query=${query}`, {
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
      })
      .then(response => {
        if (response.ok) {
          console.log('検索リクエストが成功しました');
        } else {
          console.error('検索リクエストが失敗しました');
        }
      });
    });
  });
</script>