<meta name="turbolinks-visit-control" content="reload">
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2 style='margin-top: 30px;'><%= @group.name %></h2>
        <td>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse2">
                  <%= image_tag 'group.png', size: "23x23" %><%= @group.users.count %></br>
                </a>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                  <% @group.users.each do |user| %>
                    <li class="list-group-item"><%= user.username %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

        </td>
        <td>
          <% if @group.owner_id == current_user.id %>
            <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-success", style: "margin-top: 30px;"%>
            <%= button_to '招待リンクを発行', generate_invite_link_group_path(@group), method: :post, class: "btn btn-primary rounded btn-sm", style: "font-size: calc(0.53rem + 0.5vw); margin-top: 15px;" %>
            <%= link_to 'ChatPage', group_chat_path(@group), "data-turbo": false, class: "btn btn-success", style: "margin-top: 15px;"%>
            <%= link_to 'All Video', group_video_path(@group), "data-turbo": false, class: "btn btn-success", style: "margin-top: 15px;" %>
            <%= button_to 'Leave this group', group_path(@group), method: :delete, class: "btn btn-danger", style: "margin-top: 15px;"%>
            <div id="modal-open-btn">
              <%= button_to 'Delete this group', group_all_destroy_path(@group), method: :delete, class: "btn btn-danger", style: "margin-top: 10px;"%>
            </div>
            <div id="overlay">
              <div id="modalWindow">
                <div class="modal-message-box">
                  <div>確認</div>
                  <div>本当に削除しますか？</div>
                </div>
                <button id="modal-close-btn">キャンセル</button>
                <button id="modal-close-btn">削除する</button>
              </div>
            </div>
          <% elsif @group.users.include?(current_user) %>
            <%= link_to 'ChatPage', group_chat_path(@group), "data-turbo": false, class: "btn btn-success", style: "margin-top: 15px;" %>
            <%= link_to 'All Video', group_video_path(@group), class: "btn btn-success", style: "margin-top: 15px;" %>
            <%= button_to 'Leave this group', group_path(@group), method: :delete, class: "btn btn-danger", style: "margin-top: 15px;"%>
          <% end %>
        </td>
    </div>
  </div>
</div>