<meta name="turbolinks-visit-control" content="reload">

<style>
.toggle_input {
  /* position: absolute; */
  /* left: 0;
  top: 0; */
  /* width: 100%;
  height: 100%; */
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.toggle_label {
  width: 30px;
  height: 15px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 40px;
  transition: 0.4s;
  box-sizing: border-box;
}

.toggle_label:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.toggle_input:checked + .toggle_label {
  background-color: #4BD865;
}

.toggle_input:checked + .toggle_label:after {
  left: 16px;
}

/* .toggle_button {
  position: relative;
  width: 25px;
  height: 11.7px;
  margin: auto;
} */
.toggle_button {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* ボタン間のスペースを追加 */
}

.toggle_button label {
  margin-left: 10px; /* トグルボタンとテキストの間にスペースを追加 */
}

.toggle_button input {
  margin-left: 10px; /* トグルボタンとテキストの間にスペースを追加 */
}
</style>

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
      <h2 style='margin-top: 30px;'><%= @group.name %></h2>
        <td>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" href="#collapse2">
                  <%= image_tag 'group.png', size: "23x23" %><%= @group.users.size %></br>
                </a>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                  <% @group.users.each do |user| %>
                    <li class="list-group-item"><%= user.username %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </td>

        <%= link_to '試合 映像', group_video_path(@group), "data-turbo": false, class: "btn btn btn-outline-dark", style: "margin-top: 10px; border-width: 2px; border-radius: 0;" %>


        <!-- モーダルを開くボタン -->
        <%= link_to 'ノートを書く', '', "data-turbo": false, class: "modal-open btn btn btn-outline-primary", style: "margin-top: 10px; border-width: 2px; border-radius: 0;" %>

        <!-- モーダル本体 -->
        <div class="modal-container">
          <div class="modal-body">
            <!-- 閉じるボタン -->
            <div class="modal-close">×</div>
            <!-- モーダル内のコンテンツ -->
            <div class="modal-content">
              <p><span style="font-weight: bold;">このノートは</span><br>
                <input type="radio" name="num_of_inq" id="radio-match" value="試合の振り返り" style="margin-top: 10px;"><label for="radio-match" style="margin-left: 5px;">試合の振り返り</label><br>
                <input type="radio" name="num_of_inq" id="radio-practice" value="練習の振り返り"><label for="radio-practice" style="margin-left: 5px;">練習の振り返り</label>
              </p>
              <div class="toggle_button">
                動画の有無
                <input id="toggle" class="toggle_input" type='checkbox' checked/>
                <label for="toggle" class="toggle_label"/>
              </div>

              <div class="video-index" id="video-index" style="margin-bottom: 10px;">
                <div class="list-group">
                  <% @videos.each_with_index do |video, index| %>
                    <div class="list-group-item list-group-item-action" style="color: black;" data-video-id='<%= video.id %>' onclick="selectVideo(this)"><%= video.title %></div>
                  <% end %>
                </div>
              </div>

              <script>
                let selectedVideoId = null;

                function selectVideo(element) {
                  // すべてのリストアイテムのoutlineと文字色をリセット
                  document.querySelectorAll('.list-group-item').forEach(item => {
                    item.style.outline = '';
                    item.style.color = 'black';
                    item.style.boxShadow = '';
                    item.style.zIndex = '';
                  });
                  // クリックされたアイテムのoutlineと文字色を設定
                  element.style.outline = '2px solid #1E90FF'; // 少し落ち着いた青色のoutline
                  element.style.color = 'black';
                  element.style.boxShadow = '0 4px 8px 0 rgba(0, 0, 0, 0.2)'; // おしゃれな影
                  element.style.zIndex = '2'; // 最前面に表示
                  selectedVideoId = element.getAttribute('data-video-id'); // 選択されたビデオのIDを保存
                  console.log("selectedVideoId: ", selectedVideoId);
                }

                // セレクトボックス全体の四角を丸くする
                document.addEventListener('DOMContentLoaded', function() {
                  document.querySelector('.list-group').style.borderRadius = '5px';
                });

                function createNotePath() {
                  const toggle = document.getElementById('toggle');
                  let path = '<%= new_note_path(with_video: false) %>';
                  if (toggle.checked) {
                    path = '<%= new_note_path(with_video: true) %>';
                    if (selectedVideoId) {
                      path += `&video_id=${selectedVideoId}`;
                    }
                  }
                  return path;
                }
              </script>
              <%= link_to 'ノートを作成', '#', "data-turbo": false, class: "btn btn btn-outline-dark", style: "margin-top: 10px; border-width: 2px; border-radius: 0;", onclick: "window.location.href = createNotePath();" %>
            </div>

          </div>
        </div>

        <td>
          <div class="row" style="margin-top: 30px;">
            <h4>直近の動画</h4>
            <% @videos.last(3).each do |video| %>
              <div class="col-md-4">
                <%= link_to video_path(video), "data-turbo": false, class: "card mb-4", style: "text-decoration: none; color: black;" do %>
                  <% s3 = Aws::S3::Resource.new(
                          region: "ap-northeast-1",
                          credentials: Aws::Credentials.new(
                            Rails.application.credentials.dig(:aws, :access_key_id),
                            Rails.application.credentials.dig(:aws, :secret_access_key)
                          )
                        )
                    signer = Aws::S3::Presigner.new(client: s3.client)
                    presigned_url = signer.presigned_url(:get_object, bucket: Rails.application.credentials.dig(:aws, :bucket), key: "output/thumbnail/#{video.video.filename.base}/#{video.video.filename.base}_thumbnail.0000000.jpg", expires_in: 60) %>
                  <%= image_tag presigned_url, class: "card-img-top" %>

                  <div class="card-body">
                    <h5 class="card-title"><%= video.title %></h5>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted"><%= time_ago_in_words(video.created_at) %> ago</small>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div> 
        </td>

        <td>
          <% if @group.owner_id == current_user.id %>
            <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-success", style: "margin-top: 30px;"%>
            <%= button_to '招待リンクを発行', generate_invite_link_group_path(@group), method: :post, class: "btn btn-primary rounded btn-sm", style: "font-size: calc(0.53rem + 0.5vw); margin-top: 10px;" %>
            <%# <%= link_to 'ChatPage', group_chat_path(@group), "data-turbo": false, class: "btn btn-success", style: "margin-top: 10px;"%>
            <%= button_to 'このグループから退会', group_path(@group), method: :delete, class: "btn btn-danger", style: "margin-top: 15px;"%>
            <%= button_to 'このグループを削除', group_all_destroy_path(@group), method: :delete, class: "btn btn-danger", style: "margin-top: 10px;"%>
          <% elsif @group.users.include?(current_user) %>
            <%= button_to '招待リンクを発行', generate_invite_link_group_path(@group), method: :post, class: "btn btn-primary rounded btn-sm", style: "font-size: calc(0.53rem + 0.5vw); margin-top: 15px;" %>
            <%= button_to 'このグループから退会', group_path(@group), method: :delete, class: "btn btn-danger", style: "margin-top: 15px;"%>
          <% end %>
        </td>

    </div>
  </div>
</div>

<script>
  $(function(){
    console.log("hey, it's a modal.js");
    // 変数に要素を入れる
    var open = $('.modal-open'),
      close = $('.modal-close'),
      container = $('.modal-container');

    //開くボタンをクリックしたらモーダルを表示する
    open.on('click',function(){	
      container.addClass('active');
      return false;
    });

    //閉じるボタンをクリックしたらモーダルを閉じる
    close.on('click',function(){	
      container.removeClass('active');
    });

    //モーダルの外側をクリックしたらモーダルを閉じる
    $(document).on('click',function(e) {
      if(!$(e.target).closest('.modal-body').length) {
        container.removeClass('active');
      }
    });

      const videoIndex = $('#video-index');
      videoIndex.show();
    // トグルボタンの状態を監視
    $('#toggle').on('change', function() {
      if (this.checked) {
        videoIndex.show();
      } else {
        videoIndex.hide();
      }
    });
  });
</script>