<h1 style="margin: 20px;">試合 映像</h1>

<%=link_to "Upload Video",new_video_path, class: "btn btn-outline-dark", style: "border-width: 2px; border-radius: 0; margin: 20px; font-size: 17px;"%>

<div class="row row-cols-1 row-cols-lg-2">
    <% @videos.reverse.each do |video| %>
        <div class="col">
            <%= link_to video_path(video), "data-turbo": false, class: "card mb-3", style: "text-decoration: none; color: black; margin: 20px;" do %>
                <% if video.video.attached? %>
                    <% s3 = Aws::S3::Resource.new(
                            region: "ap-northeast-1",
                            credentials: Aws::Credentials.new(
                            Rails.application.credentials.dig(:aws, :access_key_id),
                            Rails.application.credentials.dig(:aws, :secret_access_key)
                            )
                        )
                    signer = Aws::S3::Presigner.new(client: s3.client)
                    presigned_url = signer.presigned_url(:get_object, bucket: Rails.application.credentials.dig(:aws, :bucket), key: "output/thumbnail/#{video.video.filename.base}/#{video.video.filename.base}_thumbnail.0000000.jpg", expires_in: 60) %>
                    <%= image_tag presigned_url, class: "card-img-top" %>
                <% end %>
                
                <div class="card-body">
                    <h5 class="card-title"><%= video.title %></h5>
                    <!-- <p class="card-text"><%= video.introduction%></p> -->
                    <p class="card-text"><small class="text-body-secondary"><time><%= video.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</small></p>
                </div>
            <% end %>
        </div>
    <% end %>
</div>