<div class='container mt-2'>
  <div class='row'>
    <div class="col-sm-12 col-lg-7">
      <div class="card shadow-lg" style="border: none;">
        <div class="card-body">
          <%= form_with model: @video, local: true, html: {class: "needs-validation", novalidate: ""} do |form| %>
            <div class="mb-3">
              <label for="title" class="form-label">タイトル</label>
              <%= form.text_field :title, class: "form-control shadow-sm", id: "title", required: true %>
              <div class="invalid-feedback">
                タイトルを入力してください。
              </div>
            </div>
            <div class="mb-3">
              <label for="introduction" class="form-label">紹介文</label>
              <%= form.text_area :introduction, class: "form-control shadow-sm", id: "introduction", rows: 3, required: true %>
              <div class="invalid-feedback">
                紹介文を入力してください。
              </div>
            </div>
            <div class="mb-3">
              <label for="video_upload" class="form-label">動画ファイル</label>
              <%= form.file_field :video, direct_upload: true, class: "form-control shadow-sm", id: "video_upload", required: true %>
              <div class="invalid-feedback">
                ビデオファイルをアップロードしてください。
              </div>
              <div class="progress mt-3 fade" id="progress">
                <div class="progress-bar" role="progressbar"
                    style="width: 0;" data-valuenow="0" data-valuemin="0" data-valuemax="100">
                  0%
                </div>
              </div>
            </div>
            <%= form.submit "送信", class: "btn btn-primary shadow" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const progressBar = function(id){
    const frame = $(id);
    const bar = $('div.progress-bar', frame);
    let current = 0;
    return {
      current: function(){
        return current;
      },
      set: function(n) {
        current = (n > 100) ? 100 : n;
        bar
          .css('width', current + '%')
          .prop('aria-valuenow', current)
          .text(current + '%');
        return this;
      },
      show: function() {
        this.set(0);
        frame.addClass('show');
        bar.addClass('progress-bar-striped progress-bar-animated');
        return this;
      },
      complete: function(){
        bar.removeClass('progress-bar-striped progress-bar-animated');
        return this;
      }
    };
  };

  $(function() {
    const progress_bar = new progressBar('#progress');

    addEventListener("direct-upload:start", event => {
      progress_bar.show();
    })

    addEventListener("direct-upload:progress", event => {
      const { id, progress } = event.detail;
      progress_bar.set(Math.round(progress));
    })

    addEventListener("direct-upload:end", event => {
      console.log("direct upload completed.");
      progress_bar.complete();
    })
  });
</script>
