<script src="https://vjs.zencdn.net/7.20.2/video.min.js"></script>
<link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />

<div class="mb-3" style="margin: 50px;">
  <% if @video.video.attached? %>
    <video class="video-js vjs-big-play-centered" preload="metadata" controls playsinline id="video">
      <source src="<%= rails_blob_path(@video.video) %>" type="video/mp4">
    </video>
    <h3 style="margin-top: 15px;"><%= @video.title %></h3>
    <%= @video.introduction %><br>
    <%= link_to 'ノートを書く', new_note_path(video_id: @video.id), class: "btn btn-success", style: "margin-top: 6px;" %>
    <% if @video.user_id == current_user.id %>
      <%= button_to 'このビデオを削除', video_path(@video), "data-turbo": false, method: :delete, class: "btn btn-danger", style: "margin-top: 6px;"%>
    <% end %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <% @video.notes.each do |note| %>
        <div class="col">
          <%= link_to note_path(note), "data-turbo": false, class: "card mb-3", style: "text-decoration: none; color: black; margin-top: 20px;" do %>
            <% if @video.video.attached? %>
              <video src="<%= rails_blob_path(@video.video) %>" preload="metadata" class = "card-img-top" alt="..." type="video/mp4" controls="false"></video>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= note.title %></h5>
              <p class="card-text"><small class="text-body-secondary"><%= note.user.username %></p>
              <p class="card-text"><small class="text-body-secondary"><time><%= note.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</small></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    const player = videojs('video', {
        autoplay: false, // 自動再生を無効
        fluid: true, // 動画コンテンツを親要素いっぱいに広げる
        loop: false, // 繰り返し再生無効
        controls: true, // コントローラ表示
        playbackRates: [0.5, 1, 1.3, 1.5], // 再生速度の倍率
    });
    var video_el = document.getElementById("video");

    // videojsのreadyイベントを使用して、メタデータがロードされたときの処理を設定
    player.ready(function() {
      this.on('loadedmetadata', function() {
        console.log('loaded meta data.');
        // コントローラに10秒戻しボタンと10秒送りボタンを追加
        const rewindButton = player.getChild('ControlBar').addChild('button');
        const forwardButton = player.getChild('ControlBar').addChild('button');
        rewindButton.controlText('10秒戻し');
        forwardButton.controlText('10秒送り');

        // アイコンを設定
        player.getChild('ControlBar')
            .el()
            .insertBefore(
                rewindButton.el(),
                player.getChild('ControlBar').getChild('pictureInPictureToggle').el()
            )
            .innerHTML = `<img src=<%= asset_path 'rewind.png' %> width=20 />`;

        player.getChild('ControlBar')
            .el()
            .insertBefore(
                forwardButton.el(),
                player.getChild('ControlBar').getChild('pictureInPictureToggle').el()
            )
            .innerHTML = `<img src=<%= asset_path 'forward.png' %> width=20 />`;

        // スキップ処理を追加
        rewindButton.el().addEventListener('click', () => {
          var newTime = this.currentTime() - 10;
          if (newTime < 0) newTime = 0; //現在時刻が0未満にならないように調整
          this.currentTime(newTime);
        });
        
        forwardButton.el().addEventListener('click', () => {
          var newTime = this.currentTime() + 10;
          var maxTime = this.duration(); // ビデオの長さを取得
          if (newTime > maxTime) newTime = maxTime; //現在時刻がビデオの長さ以上にならないように調整
          this.currentTime(newTime);
        });

        document.addEventListener('keydown', function (e) {
          if (e.code == 'ArrowLeft') {
            console.log('rewind...');
            var newTime = this.currentTime() - 10;
            if (newTime < 0) newTime = 0; //現在時刻が0未満にならないように調整
            this.currentTime(newTime);
          } else if (e.code == 'ArrowRight') {
            console.log('forward...');
            var newTime = this.currentTime() + 10;
            var maxTime = this.duration(); // ビデオの長さを取得
            if (newTime > maxTime) newTime = maxTime; //現在時刻がビデオの長さ以上にならないように調整
            this.currentTime(newTime);
          }

        })
      });
    });
  });
</script>
