<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center" style="margin-top: 40px; margin-bottom: 50px;">
        <div class="h2 font-weight-700">
        <%= @practice.name %>
        </div>
        <%= link_to edit_practice_path(@practice), class: "btn", "data-turbo": false do %>
            <i class="fas fa-edit" style="color: black; font-size: 1.5em;"></i>
        <% end %>
    </div>
    <div class="card mb-3">
        <div class="card-header">解決する課題</div>
        <div class="card-body note-content"><%= simple_format(@practice.issue, {}, sanitize: false, wrapper_tag: 'div') %></div>
    </div>

    <div class="card mb-3">
        <div class="card-header">人数</div>
        <div class="card-body note-content"><%= @practice.number_of_people %></div>
    </div>

    <div class="card mb-3">
        <div class="card-header">トレーニング内容</div>
        <div class="card-body note-content"><%= simple_format(@practice.introduction, {}, sanitize: false, wrapper_tag: 'div') %></div>
    </div>

    <div class="card mb-3">
        <div class="card-header">意識するポイント</div>
        <div class="card-body note-content"><%= simple_format(@practice.key_points, {}, sanitize: false, wrapper_tag: 'div') %></div>
    </div>
    <div class="card mb-3">
        <div class="card-header">試合で該当するシチュエーション</div>
        <div class="card-body note-content"><%= simple_format(@practice.applicable_situation, {}, sanitize: false, wrapper_tag: 'div') %></div>
    </div>
</div>