<!-- モバイルの場合 -->
<%= link_to '← 練習メニューの一覧へ', group_practice_path(session[:current_group_id]), class: "me-2", "data-turbo": false, style: "font-size: 1em; display: block; margin-top: 30px; margin-left: 10px;" if request.env['HTTP_USER_AGENT'].include?('Mobile') %>

<div class="container mt-4">
    <!-- 非モバイルの場合 -->
    <%= link_to '← 練習メニューの一覧へ', group_practice_path(session[:current_group_id]), class: "me-2", "data-turbo": false, style: "font-size: 1.2em; display: block; margin-bottom: 30px;" unless request.env['HTTP_USER_AGENT'].include?('Mobile') %>
    <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 30px;">
        <div class="h2 font-weight-700">
            <%= @practice.name %>
            <span style="font-size: 0.6em; color: gray; margin-top: 20px; display: block;">
                <%= @practice.user.username %> - <%= time_ago_in_words(@practice.created_at) %> ago
            </span>
        </div>
        <div class="d-flex justify-content-end">
            <%= link_to edit_practice_path(@practice), class: "btn", "data-turbo": false do %>
                <i class="fas fa-edit" style="color: black; font-size: 1.5em;"></i>
            <% end %>
            <% if @practice.user_id == current_user.id %>
                <%= button_to practice_path(@practice), "data-turbo": false, method: :delete, class: "btn", onclick: "return confirm('本当に削除しますか？');" do %>
                    <i class="fas fa-trash-alt" style="color: black; font-size: 1.5em;"></i>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">解決する課題</div>
        <div class="card-body note-content"><%= simple_format(@practice.issue, {}, sanitize: false, wrapper_tag: 'div') %></div>
    </div>

    <div class="card mb-3">
        <div class="card-header">人数</div>
        <div class="card-body note-content"><%= @practice.number_of_people %></div>
    </div>

    <div class="card mb-3">
        <div class="card-header">トレーニング内容</div>
        <div class="card-body note-content"><%= simple_format(@practice.introduction, {}, sanitize: false, wrapper_tag: 'div') %></div>
    </div>

    <div class="card mb-3">
        <div class="card-header">意識するポイント</div>
        <div class="card-body note-content"><%= simple_format(@practice.key_points, {}, sanitize: false, wrapper_tag: 'div') %></div>
    </div>
    <div class="card mb-3">
        <div class="card-header">試合で該当するシチュエーション</div>
        <div class="card-body note-content"><%= simple_format(@practice.applicable_situation, {}, sanitize: false, wrapper_tag: 'div') %></div>
    </div>
    <% if @practice.links %>
        <div class="card mb-3">
            <div class="card-header">外部リンク</div>
            <div class="card-body note-content">
                <% if @practice.links.start_with?("https://www.youtube.com") || @practice.links.start_with?("https://youtube.com") %>
                    <% video_id = @practice.links.split("v=").last.split("&").first %>
                    <% embed_url = "https://www.youtube.com/embed/#{video_id}" %>
                    <% if request.env['HTTP_USER_AGENT'].include?('Mobile') %>
                        <iframe id="video-iframe" width="100%" height="315" src="<%= embed_url %>" allowfullscreen></iframe>
                    <% else %>
                        <iframe width="560" height="315" src="<%= embed_url %>" allowfullscreen></iframe>
                    <% end %>
                <% else %>
                    <%= @practice.links %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<script>
    function updateIframeHeight() {
        var iframe = document.getElementById("video-iframe");
        iframe.height = ((iframe.parentElement.clientWidth - 32) * 9 / 16) + "px";
    }

    document.addEventListener("DOMContentLoaded", function() {
        updateIframeHeight(); // 初期幅設定
        window.addEventListener("resize", updateIframeWidth); // 画面幅変更時に呼び出し
    });
</script>