<!DOCTYPE html>
<html>
  <head>
    <title>TacticaChat</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="turbolinks-visit-control" content="reload">
    <%= favicon_link_tag 'icon5.ico' %>
    
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render 'layouts/navbar' %>
    
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
