<!DOCTYPE html>
<html>
  <head>
    <title>TacticaNote</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <script src="https://unpkg.com/lucide@latest"></script>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="turbolinks-visit-control" content="reload">

    <link rel="manifest" href="<%= pwa_manifest_path(format: :json) %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= tag.meta name: "direct-upload-url", content: rails_direct_uploads_path %>

    <%= display_meta_tags(meta_tags) %>
    
    <%= favicon_link_tag 'icon5.ico' %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WYND97Z8F0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WYND97Z8F0');
    </script>

    <%= javascript_importmap_tags %>
    <%# <%= javascript_include_tag "application", type: "module" %>

    <link rel="canonical" href="https://tactica-note.com/" />
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>


  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <% if current_user %>
      <%= render 'layouts/navbar' %>
    <% else %>
      <%= render 'layouts/lp_navbar'%>
    <% end %>
    
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show mb-0" role="alert" data-controller="clipboard" data-clipboard-target="source">
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <% if flash[:notice].include?("招待リンクを発行しました") %>
          <button id="copy_button" class="btn btn-outline-primary" data-action="clipboard#copy" data-content-value="<%= flash[:notice].sub('招待リンクを発行しました:', '') %>" style="font-size: 0.7em;">
            <i class="fas fa-copy"></i> Copy to Clipboard
          </button>
        <% end %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
    <% if current_user %>
      <%= render 'layouts/tab_bar' %>
    <% end %>
  </body>
  <% if !current_user %>
    <%= render 'layouts/lp_cta'%>
    <%= render 'layouts/lp_footer'%>
  <% end %>
</html>